<h1>All files</h1>

<%= link_to 'Public Files', controller: 'documents', action: 'public_documents' %><br><br>
<%= link_to 'Create new document', new_user_document_path(current_user) %><br><br>
<table>
  <tr>
    <th>User</th>
    <th>Title</th>
  </tr>
  <% current_user.documents.each do |document| %>
    <tr>
      <td><%= current_user.email %></td>
      <td><%= document.title %></td>
      <td><%= link_to 'Show', user_document_path(current_user, document) %></td>
      <td><%= link_to 'Edit', edit_user_document_path(current_user, document) %></td>
      <td><%= link_to 'Download', document.doc.url %></td>
      <td><%= button_to 'Destroy', user_document_path(current_user, document),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
