<h1> New Document </h1>

<%= form_for :document, url: documents_path, :html => {:multipart => true}  do |f| %>

  <% if @document && @document.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@document.errors.count, "error") %> prohibited
        this file from being saved:
      </h2>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg.to_s %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :user_file %><br>
    <%= f.file_field :doc_path %>
    </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Back', documents_path %>
