<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Download', @document.doc.url %>
</p>

<p>
  <strong>Is Private:</strong>
  <%= @document.is_private %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Back', user_path(@user) %> |
<% else %>
  <%= link_to 'Back', public_documents_path %> |
<% end%>
<%= link_to 'Edit', edit_user_document_path(@user, @document) %> |
<%= link_to 'Destroy', user_document_path(@user, @document),
                                       method: :delete,
                                       data: { confirm: 'Are you sure?' } %>
