<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>

<p>
  <strong>File:</strong>
  <a href = "<%= url_for(action: 'download_file',
              controller: 'documents',
              id: @document.id, user_id: @user.id) %>">Download File</a>
</p>

<p>
  <strong>Is Private:</strong>
  <%= @document.is_private %>
</p>

<%= link_to 'Back', user_path(@user) %> |
<%= link_to 'Edit', edit_user_document_path(@user, @document) %> |
<%= button_to 'Destroy', user_document_path(@user, @document),
                                       method: :delete,
                                       data: { confirm: 'Are you sure?' } %>
