<!DOCTYPE html>
<html>
  <head>
    <title>RapidShare</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="nav pull-right">
          <% if current_user %>
            <ul>
              <li>Welcome, <%= current_user.first_name %> <%= current_user.last_name %></li>
              <li><%= button_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to 'Login', controller: 'sessions', action: 'new' %></a></li>
              <li><%= link_to 'Signup', controller: 'users', action: 'new' %></a></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

  <%= yield %>

  </body>
</html>
